<section class="vh-100"  style="background-color: rgb(209, 175, 175);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    
                    <form class="mx-1 mx-md-4">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c" class="form-control"
                          placeholder="firstName" [(ngModel)]=reader.firstName name="firstName" />
                          <label class="form-label"
                         
                          for="form3Example1c">Your First Name</label>
                        </div>
                      </div>
  
                      <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control"
                            placeholder="lastName" [(ngModel)]=reader.lastName name="lastName" />
                            <label class="form-label"
                            
                            for="form3Example1c">Your Last Name</label>
                          </div>
                        </div>
  
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="number" id="form3Example1c" class="form-control" 
                            placeholder="age" [(ngModel)]=reader.age  name="age"/>
                            <label class="form-label"
                           
                            for="form3Example1c">Your Age</label>
                          </div>
                        </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" class="form-control" 
                          placeholder="emailId" [(ngModel)]=reader.emailId  name="emailId"/>
                          <label class="form-label" 
                          
                          for="form3Example3c">Your Email</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4c" class="form-control"
                          placeholder="password" [(ngModel)]=reader.password  name="password" />
                          <label class="form-label"
                         
                          for="form3Example4c">Password</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control"
                            placeholder="userName" [(ngModel)]=reader.userName  name="userName" />
                            <label class="form-label"
                           
                            for="form3Example1c">User Name</label>
                          </div>
                        </div>
    
                      <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                        <label class="form-check-label" for="form2Example3">
                          I agree all statements in <a href="#!">Terms of service</a>
                        </label>
                      </div>
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-primary btn-lg"
                        (click)="saveReader()"
                        >Register</button>
                      </div>
  
  <a  class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 " >
    Already have an accoint click below to sign in</a>
  
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-success"
                        routerLink="/readerSignIn"
                        >Sign In</button>
                      </div>
  
                      
    
                    </form>
    
                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1">
    
                    <img src="https://media.istockphoto.com/photos/elearning-online-education-or-internet-encyclopedia-concept-open-and-picture-id1263424631?b=1&k=20&m=1263424631&s=170667a&w=0&h=1Iu9DYwkR77QTLbKp1fC1M9gbJMCyaHoP7u3q1GqiiA="
                      class="img-fluid" alt="Sample image">
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>